@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira Condensed', sans-serif;
}

nav,
footer {
  display: flex;
  gap: 1rem;
}

nav {
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 15px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: black;
  margin: auto;
  display: block;
  transition: all 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.logo img {
  width: 40px;
  height: auto;
}

.logo::before,
.logo::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.logo::before {
  content: '';
  right: -10px;
  top: 0;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: translate(-100%, 50%);
}

.logo:after {
  content: '';
  left: -5px;
  bottom: 0;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  transform: translate(100%, -50%);
}

.logo:hover:before,
.logo:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.redirects {
  display: flex;
  gap: 1rem;
}

footer {
  justify-content: center;
}
